/* main left*/
.main {
    margin-right:370px;
}
.main .banner {
    height:296px;
    padding:10px 0;
}
.main .banner .tabHandle {
    width:128px;
    height:296px;
    margin-right:12px
}
.main .banner .tabHandle li {
    width:120px;
    height:62px;
    padding:4px;
    margin-bottom: 6px;
    background:#fff;
}




.main .banner .tabBox {
    width:716px;
    height:296px;
}
.main .banner .tabBox ul{
    position:relative;
}
.main .banner .tabBox li {
    position:absolute;
    left: 0;
    top:0;
}
.main .newest {
    margin-bottom: 10px;
    background:#fff;
}
.main .newest h2{
    height: 45px;
    margin: 5px 20px;
    line-height: 45px;
    font-weight: normal;
    color: #1abc9c;
    font-size: 16px;
    border-bottom: 1px solid #90bba8;
}
.main .newest ul {
    padding:15px 20px;
}
.main .newest li {
    height:30px;
    line-height:30px;
}
.main .newest .muted .fa-heart-o{
    font-size: 14px;
    line-height:30px;
    margin-right: 5px;
}


.main .newest .newOrder {
    padding:0 8px;
    margin-right:8px;
    background:#fd8c84;
    color:#fff;
}
.main .newest .comments-cont {
    margin-right: 24px;
}
.main .newest .muted a{
    color:#f78585;
}



/*  Eed main*/













